<div class="mdl-cell mdl-cell--8-col centered-info">
  <h1 class="main-title">
    Character Coach
  </h1>

  <%= image_tag 'strong-character.png', class: 'home-logo' %>

  <p class="big-margin">
    <%= link_to "Get Started", challenges_activity_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", id: "get-started" %></h1>
  </p>


  <p class="big-margin"> <%= link_to "About", about_path %></p>
  <p><%= link_to "Help", help_path %></p>
  <p><%= link_to "Keys to Success", keys_to_success_path %></p>
</div>
