<div class="challenge"><%= challenge %></div>
<div class="concern"><%= concern %></div>
<div class="thought"><%= thought %></div>
<div class="feeling"><%= feeling %></div>

<%= link_to "Next", let_me_help_path %>
