<li class="mdl-list__item" id="activity_<%= activity.id %>_<%= type %>_<%= entry.id %>">
  <%= link_to link_url,
              class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent animated-link" do %>
    <span class="mdl-list__item-primary-content">
      <div class="js-emojione" style="width: 18px;">
        :<%= entry.icon %>:
      </div>
      <%= entry.text %>
    </span>
  <% end %>
</li>
