<% if local_assigns.has_key? :activity %>
<li class="mdl-list__item" id="activity_<%= activity.id? %>_<%= type %>_<%= entry.id %>">
<% else %>
<li class="mdl-list__item">
<% end %>
  <%= link_to link_url,
              class: "animated-link" do %>
    <span class="mdl-list__item-primary-content">
      <div class="js-emojione" style="width: 30px; margin-right: 1em;">
        :<%= entry.icon %>:
      </div>
      <%= entry.text %>
    </span>
  <% end %>
</li>
