<div class="mdl-grid activity">
  <% activities.each do |activity| %>
    <% activity.challenges_titles.each_with_index do |challenge, index| %>
      <div id="activity_<%= activity.id %>_challenge_<%= index %>" class="mdl-grid mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet js-emojione">
          <%= activity.challenges_emojis[index] %>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
          <h2 class="mdl-card__title-text"><%= challenge %></h2>
          <div class="mdl-card__supporting-text no-left-padding">
            TODO: Challenge description
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to "Start", not_alone_path(category: activity.id, challenge: index),
                      class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
