<div id="challenges" class="content mdl-color-text--grey-800 mdl-cell mdl-cell--2-col"></div>
<div id="summary" class="content mdl-color-text--grey-800 mdl-cell mdl-cell--4-col">

  <h3><b>You Said</b></h3>

  <div id="summary_user_input" class="challenge"><%= challenge.text %></div>

  <h5 class="big-margin">Your Concern Is</h5>
  <div id="summary_user_input" class="concern"><%= concern.text %></div>

  <h5 class="big-margin">This Makes You Think</h5>
  <div id="summary_user_input" class="thought"><%= thought.text %></div>

  <h5 class="big-margin">And You Feel:</h5>
  <div id="summary_user_input" class="feeling"><%= feeling.text %></div>

  <%= next_button "Next", let_me_help_activity_path %>
</div>
