<div class="challenge"><%= challenge.text %></div>
<div class="concern"><%= concern.text %></div>
<div class="thought"><%= thought.text %></div>
<div class="feeling"><%= feeling.text %></div>

<%= link_to "Next", let_me_help_activity_path %>
