<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="turbolinks-cache-control" content="no-cache">

    <title><%= page_title %></title

    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="/emojione/lib/js/emojione.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">-->

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base  <%= if session[:mobile_app] then 'mobile-app' end %>">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header id="app-header" class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <nav class="mdl-navigation">
            <%= link_to root_path, :class=>"mdl-navigation__link" do %>
              <%= image_tag "homeIcon.svg" %>
            <% end %>
          </nav>
          <!-- Title -->
          <span class="mdl-layout-title"><%= page_title %></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="section--center mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
