<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Progressions</title

    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="/emojione/lib/js/emojione.min.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Material Design Lite -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  </head>

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Character Coach</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <%= link_to "Home", "/", :class=>"mdl-navigation__link" %>
            <%= link_to "About", "about", :class=>"mdl-navigation__link" %>
            <%= link_to "Help", "help", :class=>"mdl-navigation__link" %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Character Coach</span>
        <nav class="mdl-navigation">
          <%= link_to "Home", "/", :class=>"mdl-navigation__link" %>
          <%= link_to "About", "about", :class=>"mdl-navigation__link" %>
          <%= link_to "Help", "help", :class=>"mdl-navigation__link" %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
